body{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.divA{
    width: 400px;
    height: 400px;
    background-color: rgb(183, 0, 255);
}

.divB{
    width: 400px;
    height: 400px;
    background-color: rgb(128, 83, 0);
    
}
p{
    color:#ffffff; 
    background-color: #0059ff; 
    font-size: 25px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: lighter;
}
.divC{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 110, 74);
}

.divD{
    width: 400px;
    height: 400px;
    background-color: rgb(173, 110, 255);
}